@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'iCielKoni';
  src: url('assets/fonts/koni-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  // background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
@layer {
  body {
    height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    @apply font-primaryFont;
    background: radial-gradient(97.91% 60.14% at 50% 50%, #ffdb7e 0%, #ff7a00 100%);
  }
}
.btnPrimary {
  @apply cursor-pointer bg-buttonColor  text-center font-secondFont font-[900] text-textSecondColor;
}
.navbar {
  clip-path: polygon(50% 0%, 100% 0, 100% 80%, 70% 100%, 30% 100%, 0 80%, 0 0);
}
.border-nav {
  border: 1px solid transparent;
}
.container-layout {
  margin-bottom: 2rem;
  background-image: url(assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 8rem;
}
.form-center {
  @media screen and (min-width: 1500px) {
    right: 33.5%;
  }
}

.css-b62m3t-container {
  background: white;
}
.css-13cymwt-control {
  border: none !important;
}
/* cho Chrome, Safari và Opera */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ed7200;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e49f0c;
}
/* cho Edge */
::-ms-scrollbar {
  width: 5px;
}

::-ms-track {
  background-color: #f1f1f1;
}

::-ms-thumb {
  background-color: #ed7200;
  border-radius: 5px;
}

::-ms-thumb:hover {
  background-color: #e49f0c;
}

.my-text::nth-of-type(5) {
  text-indent: 100px;
}
.title {
  @apply text-center font-secondFont text-[72px] font-[900] leading-[80px] text-textSecondColor;
}
.bgImage {
  background-image: url(assets/images/contact.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  width: 250px;
  min-height: 100px;
}
.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background: #ffde32;
  box-shadow: 0 5px 0 0 #ffce6f;
  border-radius: 10px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 25px !important;
  color: white;
}
.css-b62m3t-container{
  width: 85%;
  cursor: pointer;
}
// nút dropdown của react-select
.css-1hb7zxy-IndicatorsContainer {
    cursor: pointer;
    margin-right: -4rem;
    background: #FFDE32;
    border: none;
    box-shadow: 0 5px 0 0 #ffce6f;
    border-radius: 10px;
}
.css-1hb7zxy-IndicatorsContainer svg{
  color: white
}
.css-t3ipsp-control{
  border-color: none!important;
  border: none!important;
  box-shadow: none!important;

}

// css bỏ border của datepicker MUI
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none!important

}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  background: white!important;
  border-radius: 16px;
  @apply shadow-primaryShadow;
}

//css button datepicker MUI

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
  color: white!important;
  border: none;
  background: #FFDE32!important;
  box-shadow: 0 5px 0 0 #ffce6f;
  border-radius: 10px!important;
}

//css lịch của datepicker MUI
.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper{
  border-radius: 20px!important;
}
// màu label ngày
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
  color: #ff8a00 !important;
}
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root{
  background: #ff8a00!important;
}
// nút ngày hiện tại và chọn ngày
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  border: 1px solid #ff8a00!important;
  color: white!important;
}
.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background: #f83600!important;
  border: 1px solid #f83600!important;
  color: white!important;
}